<% if blood_pressure_readings.exists? %>
  <%
    sorted_readings = blood_pressure_readings.order(:date).pluck(:date, :systolic, :diastolic)
    data = [
      {
        name: "Systolic",
        data: sorted_readings.map { |date, systolic, _diastolic| [date.to_s, systolic] }
      },
      {
        name: "Diastolic",
        data: sorted_readings.map { |date, _systolic, diastolic| [date.to_s, diastolic] }
      }
    ]
  %>
  <div class="max-w-xl mx-auto px-2 py-3 flex flex-col gap-4">
    <div class="bg-white shadow-sm border border-slate-100 rounded-lg p-4">
      <%= line_chart data,
            title: "Blood Pressure Change Over Time",
            curve: false,
            ytitle: "mmHg",
            xtitle: "Date",
            legend: "bottom" %>
    </div>
  </div>
<% end %>
